<template>
  <div>
    <material/>
    <ListaMateriales/>
  </div>
</template>

<script>
import Material from "../components/Material.vue";
import ListaMateriales from "../components/ListaMateriales.vue"; 

export default {
  components: {
    Material,
    ListaMateriales,
   
  },
};
</script>

<style>
</style>