    <template>
    <div class="text-center">
        <v-btn
        class="ma-2"
        :loading="loading"
        :disabled="loading"
        color="secondary"
        @click="Consulta"
        >
        Consultar Proveedores
        </v-btn>

        <v-btn
        :loading="loading3"
        :disabled="loading3"
        color="blue-grey"
        class="ma-2 white--text"
        @click="GestionProv"
        >
        Gestion Proveedores
        <v-icon
            right
            dark
        >
    
        </v-icon>
        </v-btn>

        <v-btn
        class="ma-2"
        :loading="loading2"
        :disabled="loading2"
        color="success"
        @click="GestionMat"
        >
        Gestion Materiales
        <template v-slot:loader>
            <span>Loading...</span>
        </template>
        </v-btn>

        <v-btn
        class="ma-2"
        :loading="loading4"
        :disabled="loading4"
        color="info"
        @click="retornar"
        >
        Inicio
        <template v-slot:loader>
            <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
            </span>
        </template>
        </v-btn>

        
    </div>
    </template>
    <script>

        export default {
            data () {
            return {
                loader: null,
                loading: false,
                loading2: false,
                loading3: false,
                loading4: false,
                loading5: false,
            }
            },
            watch: {
            loader () {
                const l = this.loader
                this[l] = !this[l]

                setTimeout(() => (this[l] = false), 3000)

                this.loader = null
            },
            },

            methods: {
                Consulta(){
                this.$router.push('/consulta');
                },
                GestionProv(){
                this.$router.push('/GestionProv');
                },
                GestionMat(){
                this.$router.push('/GestionMat');
                },
                retornar(){
                this.$router.push("/");
                },


            },
            
    }
    </script>

        <style>
    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }
    @-moz-keyframes loader {
        from {
        transform: rotate(0);
        }
        to {
        transform: rotate(360deg);
        }
    }
    @-webkit-keyframes loader {
        from {
        transform: rotate(0);
        }
        to {
        transform: rotate(360deg);
        }
    }
    @-o-keyframes loader {
        from {
        transform: rotate(0);
        }
        to {
        transform: rotate(360deg);
        }
    }
    @keyframes loader {
        from {
        transform: rotate(0);
        }
        to {
        transform: rotate(360deg);
        }
    }
    </style>