<template>
<div>
    <Proveedor/> 
    
     
</div> 

</template>

<script>

import Proveedor from '../components/Proveedor.vue'





export default {
    components:{
        Proveedor,
        
        
    }
}
</script>

<style>

</style>

    
