    <template>
    
        <v-data-table
            :items="proveedores"
            :headers="header"

        ></v-data-table>
    </template>

<script>

import store from "../store/index.js";
  export default {
    data () {
    const headers= [ {
        
        text: "Razón Social",    
        value: "razon_social"} ]
    
          return {
     headers

        };
    },
    created: () => {
    //realiza solicitud get al backend
    store.dispatch("cargarProveedores");
  },
    computed: {
      proveedores: () => {
      return store.state.proveedores;
    },
      numberOfPages () {
        return Math.ceil(this.items.length / this.itemsPerPage)
      },
      filteredKeys () {
        return this.keys.filter(key => key !== 'Name')
      },
    },
    methods: {
      eliminar(id){
      console.log("Eliminar-> ", id);
      let obj = { id };
      store.dispatch('eliminarProveedor', obj).then(()=>{
        //realiza solicitud get al backend
        store.dispatch("cargarProveedores");
      });
      },
      nextPage () {
        if (this.page + 1 <= this.numberOfPages) this.page += 1
      },
      formerPage () {
        if (this.page - 1 >= 1) this.page -= 1
      },
      updateItemsPerPage (number) {
        this.itemsPerPage = number
      },
    },
  }
</script>

<style>

</style>